.post-upload-btn {
    background-color: var(--color_btn_blue);
    padding: 0.25rem 0.75rem;
    color: var(--color_white);
    font-size: 1rem;
    //padding is the space inside that goes around the item
    border-radius: 100vmax;
}